body {
  background-color: #000435;
  font-family: 'Tilt Prism', cursive;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

a {
  text-decoration: none;
  color: #00FFF3;
}

header {
  grid-column: span 12;
  background-color: #FF9ADE;
  text-align: center;
}

main {
  grid-column: span 6;
}

.bubble {
  width: 270px;
  height: 270px;
  border-radius: 1000px;
}

main ul {
  list-style: none;
  background-image: url(pictures/Blorb.png);
}

.bubble1 {
  margin-left: 294px;
}

.bubble2 {
  margin-left: 0px;
}

.bubble3 {
  margin-left: 196px;
}

.bubble4 {
  margin-left: 98px;
}

.bubble5 {
  margin-left: 318px;
}

aside {
  grid-column: span 6;
}

aside ul {
  list-style: none;
}

.bismuth {
  margin-top: 24px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 24px;
background-image: url(pictures/Bismuth.jpg);
  width: 612px;
  height: 1000px;
  border-top-left-radius: 2000px;
  border-bottom-left-radius: 2000px;
}

.block1 {
  margin-left: 302px;
}

.block2 {
  margin-left: 12px;
}

.block3 {
  margin-left: 302px;
}

.block4 {
  margin-left: 12px;
}

.block5 {
  margin-left: 302px;
}

footer {
  grid-column: span 12;
  background-color: #FFBD3D;
  text-align: center;
  color:#00FFF3;
}