body {
    background-color: #000435;
    font-family: 'Tilt Prism', cursive;
  }
  
  #wrapper {
    margin: 24px auto;
    width: 1200px;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
  }
  
  a {
    text-decoration: none;
    color: #00FFF3;
  }
  
  header {
    grid-column: span 12;
    background-color: #FF9ADE;
    text-align: center;
  }

  nav {
    grid-column: span 12;
  }

  main {
    grid-column: span 12;
  }

  .skinny img {
    width: 237px;
  }

  aside {
    grid-column: span 12;
  }
  footer {
    grid-column: span 12;
    background-color: #FFBD3D;
    text-align: center;
    color:#00FFF3;
  }