body {
    background-color: #000435;
  }
  
  #wrapper {
    margin: 24px auto;
    width: 1200px;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
  }
  
  a {
    text-decoration: none;
    color: #00FFF3;
    font-family: 'Tilt Prism', cursive;
  }
  
  header {
    grid-column: span 12;
    background-color: #FF9ADE;
    text-align: center;
  }

  nav {
    grid-column: span 12;
  }

  main {
    grid-column: span 12;
  }

  main h1 {
    text-align: center;
    font-family:  'Tilt Prism', cursive;
    color:#FF9ADE;
  }

  #myCarousel {
    margin-bottom: 24px;
  }
  
  #myCarousel .f-carousel__slide {
    text-align: center;
    padding: 24px;
    background: #000435;
  }

  .skinny img {
    width: 237px;
  }

  aside {
    grid-column: span 12;
    background-color: #FFDD72;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  footer {
    grid-column: span 12;
    background-color: #FFBD3D;
    text-align: center;
    color:#00FFF3;
  }